.logo {background:url(../images/logo.svg) no-repeat center;background-size:contain;height:100px;width:auto;}
.logo-animation svg {height:400px;}
.lower {fill: #046380;}
.capital {fill: none;stroke: #7F7978;stroke-width: 22.7341;stroke-miterlimit: 10;}